BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never     # change to 'Always' if you want real tabs
ColumnLimit: 0    # disable line wrapping
AllowShortIfStatementsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Attach
